script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-resource/angular-resource.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/app/app.js")
script(src="/app/main/MainController.js")
script(src="/app/account/LoginController.js")
script(src="/app/account/identity.js")
script(src="/app/common/notifier.js")
script(src="/app/account/auth.js")