.container
	.jumbotron
		h1 Tech Videos
		p Learn to become a better developer

	.row
		.col-md-6
			div(ng-include="'/app/main/featured-courses'")
		.col-md-6
			div(ng-include="'/app/main/new-courses'")